$textColor = #999 //字体颜色
.users
  color:#999;
  font-size 14px
.hero
  background-image : url('/next-page.png')
  background-size: cover;
  background-position: center center;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  h1
    color:#fff
  .description
    color:#fff !important
    font-size 20px !important