@import "./home.styl"
.base
    border-top: 1px solid #eaecef;
    padding: 1.2rem 0;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
  .item
      height: 50px;
      padding: 20px 40px;
      border: 1px solid #46bd87;
      justify-items: center;
      line-height: 50px;
      color: #46bd87;
      cursor: pointer;
      border-radius: 5px;
    
